<div class="menu-bar__container">
	<div class="section_one">
		<div class="menu-bar_icon">
			<img src="assets/logo.png" width="30px">
		</div>
		<div class="menu-bar_item_lista">
			<ul>
				<li class="dropdown">
					<button class="dropbtn">Jogos</button>
					<div class="dropdown-content">
						<a href="">link1</a>
						<a href="">link2</a>
						<a href="">link1</a>
						<a href="">link2</a>
					</div>
				</li>
				<li class="dropdown">
					<button class="dropbtn">Hardware</button>
					<div class="dropdown-content">
						<a href="">link1</a>
						<a href="">link2</a>
						<a href="">link1</a>
						<a href="">link2</a>
					</div>
				</li>
				<li class="dropdown">
					<button class="dropbtn">Serviços</button>
					<div class="dropdown-content">
						<a href="">link1</a>
						<a href="">link2</a>
						<a href="">link1</a>
						<a href="">link2</a>
					</div>
				</li>
				<li class="dropdown">
					<button class="dropbtn">Notícias</button>
					<div class="dropdown-content">
						<a href="">link1</a>
						<a href="">link2</a>
						<a href="">link1</a>
						<a href="">link2</a>
					</div>
				</li>
				<li class="dropdown">
					<button class="dropbtn">Loja <i class="fa fa-caret-down"></i></button>
					<div class="dropdown-content">
						<a href="">link1</a>
						<a href="">link2</a>
						<a href="">link1</a>
						<a href="">link2</a>
					</div>
				</li>
				<li class="dropdown">
					<button class="dropbtn">Suporte</button>
					<div class="dropdown-content">
						<a href="">link1</a>
						<a href="">link2</a>
						<a href="">link1</a>
						<a href="">link2</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="menu-bar_botao_secao">
			<button type="button" class="button-register_login">Iniciar Seção</button>
		</div>
		<div class="menu-bar_search">
			<img src="assets/lupa.png" width="20px" height="20px" alt="">
		</div>
	</div>


	<div class="section_two">
		<div class="menu-bar__logo">
			<img
				src="assets/ps-logo.png"
				alt="playstation logo"
				srcset=""
				width="140px"
				height="32px"
			>
		</div>
		<div class="menu-bar__item">
			<ul>
				<li><a href="#">Linkedin</a></li>
				<li><a href="#">Github</a></li>
				<li><a href="#">Youtube</a></li>
			</ul>
		</div>
	</div>
</div>
